@font-face {
  font-family: marsek;
  src: url(assets/Marsek-Demi.ttf);
}

body {
  font-family: marsek;
  margin-bottom: 40px;
}

section {
  margin: auto;
}

h1, h2 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 12px;
}

ul {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  max-width: 100px;
  list-style: none;
  margin: 10px;
}

img {
  width: 100px;
  border-radius: 5px;
}

.checked img {
  filter: grayscale(1);
}

.checked {
  opacity: 0.3;
  color: grey;
}

.stream > main > section > h1, .stream > main > section > p {
  display: none;
}

footer {
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background: red;
}

.stageValidated {
  padding: 3px;
  border-radius: 5px;
  border: solid green 3px;
}

.stream footer {
  display: none;
}

.stream {
  margin-bottom: auto;
}

/* for stream */
.stream h2 {
  display: none;
}

.stream .stage {
    display: none;
    opacity: 0;
}

.stream .stage.update {
    display: block;
    animation: fade 3s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.stream .stage.stageValidated {
  opacity: 1;
  display: block;
}
